*{
    margin: 0;
    box-sizing: border-box;
}

aside{
    width: 300px;
    position: fixed;
    height: 100vh;   
}
.blue_tile{
    width: 100%;
    background-color: #03aeee;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 10px;
    
}
main{
    position: fixed;
    margin-left: 300px;
    width: calc(100% - 300px);
    height: 100vh;
    background-color:#fafafa;
}

header{  
    width: 100%;
    height:100px;
}

header img{
    margin: 30px;
}

.Mid_sec{
    padding:20px;
    background-color: #fdfdfd;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px 4px #eeeeee;
}

.Last_Sec{
    padding: 20px;
    background-color: #fdfdfd;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;   
    box-shadow: 2px 2px 4px 4px #eeeeee;
}

    
form{
    display: flex;
    flex-wrap: wrap;
    align-items: calc(100%/3);
}

form div{
    width: calc(100%/3);
    padding: 20px;
}

label{
    display: block;
    padding-bottom: 5px;
}
.h1{
    font-style: bold; 
}

.button{
   width: 100%;
}

.create{
    padding: 7px 40px ;
    background-color: #03aeee;
    border-radius: 3px;
    margin-right: 10px;
    color: #ffffff;
}

.cancel{
    
    padding: 7px 40px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #939799;
    border-color: #a2a4a5;
}

input[type=text]{
    width: 100%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 96%);
    padding: 15px;
    border-color: hsl(0, 0%, 90%);
    border-style: solid;
}
select{
    width: 100%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 96%);
    padding: 15px;
    border-color: hsl(0, 0%, 90%);
    border-style: solid;
}
.Browse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%);
    border-radius: 10px;
    background-color: hsl(0, 0%, 96%);
    padding: 5px;
    border-color: hsl(0, 0%, 90%);
    border-style: solid;
}

.upload{
    cursor: pointer;
    border-radius: 10px;
    background-color: hsl(0, 0%, 96%);
    padding: 5px;
    border-color: hsl(0, 0%, 90%);
    border-style: solid;   
}
 
 #uploadphoto {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

a{
    text-decoration: none;
    color: #ffffff; 
 }
 .image{
    
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 8px;
    margin: 8px;

 }